html {
  margin: 0;
}

#calc-body {
  border: 2px solid;
  width: 250px;
  height: 500px;
}

#calc-display {
  border: 1px solid;
  width: 220px;
  height: 50px;
}

#calc-buttons {
  border: 1px solid;
  width: 220px;
  height: 400px;
}
